body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

h1 sup {
  font-size: 0.5em;
}

form {
  max-width: 300px;
  margin: auto;
  border: 2px outset black;
  background: black;
  color: white;
  padding: 20px;
  margin-bottom: 3em;
}

h2 {
  margin-top: 0;
}

form button {
  width: 100%;
  margin-bottom: 0.5em;
}

form label {
  font-size: 0.7em;
}

form input[type="text"] {
  width: 170px;
}
form input[type="submit"] {
  width: 110px;
  float: right;
}

#content {
  margin: 1em;
}

#signature {
  text-align: right;
}
