#menus,#context,#tools,#panels,#colors {
	position: absolute;
}

#menus {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 20px;
	background: #DDD;
	border-bottom: 1px solid black;
	z-index:8;
}

#menus>div{
	float:left;
	width:5%;
	min-width:30px;
	}

#menus>div ul{
  background-color:#bbb;
  display:none;
  border:1px solid black;
  width:100px;
  padding:0;
  margin:0;
  list-style-type:none;
  cursor:pointer;
  }
#menus>div li{
  background-color:#bbb;
  border:1px solid black;
  width:100px;
  margin:0;
  }

#context {
	left: 0px;
	top: 20px;
	width: 100%;
	height: 20px;
	background: #DDD;
	border-bottom: 1px solid black;
  z-index:0;
}

#panels {
	top: 40px;
	bottom: 20px;
	right: 0px;
	width: 300px;
	background: #DDD;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

#resizing{
	float:left;
  left:0;
  width:5px;
  height:100%;
  background-color:#CCC;
  cursor:col-resize;
}

#colors {
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 20px;
	background: #DDD;
	border-top: 1px solid black;
}

#canvas {
	position: fixed;
	bottom: 20px;
	top: 40px;
	left: 20px;
	right: 150px;/*!*/
	z-index:0;
}

input {
	height: 10px;
	font-size: 10px;
	font-family: monospace;
}

button {
	height: 20px;
}



.simple_overlay {
	display: none;
	z-index: 10000;
	background-color: #aaf;
	opacity: 0.9;
	text-align: center;
	border: 1px solid black;
  width: 30%;
  margin: auto;
  padding: 1em;
}

#context a {
	border: 1px solid black;
	margin-left: 2px;
}

.tabs{
	margin:0;
	padding:0;
	height:20px;
	border-bottom:1px solid #666;
}
.tabs li{
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
}
.tabs a{
	float:left;
	display:block;
	text-decoration:none;
	border:1px solid #666;
	border-bottom:0px;
	position:relative;
	color:#777;
	width:100%;
	text-align:center;
}
#panels>.tabs>li {width:25%!important;}

#tab_fillstroke>.tabs>li {width:20%!important;}

.tabs a.current{
	background-color:#ddd;
	cursor:default;
	color:#000;
}
.panes div{
	padding:0;
}
#tools {
	top: 40px;
	bottom: 20px;
	left: 0px;
	background: #DDD;
        list-style-type: none;
        margin: 0;
        padding: 0;
}
#tools img {
	width: 15px;
}
#tools li {
	border: 0.5px solid black;
	width: 15px;
  margin: 2px;
  padding: 1px;
}

#colorPicker {
  position: absolute;
  left: 200px;
  top: 3px;
  list-style-type: none;
  margin: 0;
}
#colorPicker li {
	height: 12px;
	width: 12px;
	float: left;
	margin-left: 2px;
	border: 1px solid black;
  cursor: pointer;
  display: block;
}
.colorField {
  width: 40px;
}
#cursor_coords{position:absolute;right:100px;}
#show_id {
	position: absolute;
	right: 10px;
}



/* General dropdown styles */       
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px;  }
.dropdown dd { position:relative; }
/* DT styles for sliding doors */
.dropdown dt a {background:#e4dfcb no-repeat scroll right center;
    display:block; padding-right:20px; border:1px solid #d4ca9a; width:150px;}
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
/* UL styles */
.dropdown dd ul { background:#e4dfcb none repeat scroll 0 0; display:none;
    list-style:none; padding:5px 0px; position:absolute; 
    left:0px; top:2px; width:auto; max-height:200px;overflow:scroll;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}


/*gradient editor UI*/
#gradientEditor{
  height:80%;
  width:80%;
}
#gradientEditor_gradientList{
	height:100%;
	border:1px solid black;
	width:20%;
	overflow:none;
  float:left;
  padding-top:10px;
}
#gradientEditor_gradientPreview{
  height:20%;
  border:1px solid black;
  width:calc( 80% - 20px );
  overflow:none;	
  margin-left:16px;
  float:left;
}
#gradientEditor_gradientDetails{
  border:1px solid black;
  overflow:none;  	
  float:left;
  width:calc( 80% - 20px );
  height:calc( 80% - 20px );
  margin-left:16px;
  margin-top:16px;
}


